body {
	background-color: #4C0B5F;
	color: #F7F8E0;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Marmelad', sans-serif;
}

nav {
	margin-top: 2em;
}

a {
	color: #F7F8E0;
}
a:hover {
	color: #FDF069;
	font-weight: bolder;
}
.row {
	background-color: #F7F8E0;
	color: #4C0B5F;
	margin: 3em 0;
	padding: 2em 0;
}

.row-grey {
	background-color: #D8D8D8;
}

.ind-sect-proyect {
	margin-top: 2em;
	color: #4C0B5F;
}

section a:hover {
	color: #4C0B5F;
}

.img-sant-valdi {
	padding: 0;
}

.row-sant-valdi {
	background-color: #D8D8D8;
	margin-top: 1em;
}

.pict-gallery {
	background-color: #D8D8D8;
}

#cv {
	background-color: #4C0B5F;
}

#cv h2 {
	color: #F7F8E0;
}

#cv img {
	margin-top: 1em;
}